@media all and (min-width: 1200px) {
    #content {
        margin: 0 auto;
        width: 1199px;
    }
}

h3 {
    text-align: center;
}
.intro {
    font-style: italic;
    text-align: center;
}

img {
    width: 80%;
}
